.modal {
    width: 100vw;
    height: 100vh;
    background-color: #00000090;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -10;
    opacity: 0;
    user-select: none;
    transition: all .3s;
}

.active {
    z-index: 5000;
    opacity: 1;
}

.modal-content {
    width: 50vw;
    display: flex;
    flex-direction: column;

    margin: 20vh auto;
    
    background-color: white;
    border-radius: 5px;
    border: solid 2px black;
}

.modal-footer {
    display: flex;
    
    gap: 40px;
    margin: 0 auto 30px;
    
    border-radius: 0 0 5px 5px;
    padding: 0 20px;
    background-color: inherit;
    
}

.modal-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #DDDDDD;
    border-radius: 5px 5px 0 0;
    background-color: inherit;
}

.modal-header > h1 {
    margin: 0 auto;
    color: black;
    font-weight: normal;
    text-shadow: 0px 0px 1px grey;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    
    gap: 30px;
    margin: 40px auto;
}
.form div{
    /* width: 300px; */
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}



.close-button {
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 40px;
    color: lightslategray;
}

.close-button:hover {
    background-color: #ff4949;
    cursor: pointer;
    color: white;
    border-radius: 0 5px 0 0;
}